div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    gap: 0.5rem;
}

.page__Container__Post__Login{
    flex-direction: row;
}

button {
    padding: .5rem;
}

.first__Child__Pre__Login {
    margin-top: 1rem;
}