div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    gap: 0.5rem;
}

.page-Container-Post-Login{
    flex-direction: row;
}

button {
    padding: .5rem;
}

.first-Child-Pre-Login {
    margin-top: 1rem;
}