@import "tailwindcss";

:root {
  --custom-cursor: url("../../public/cursor/pen-tool.svg") 12 0, auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  width: 1126px;
  max-width: 100%;
}

body {
  cursor: var(--custom-cursor);
}
