@import "tailwindcss";

:root {
  --custom-cursor: url("../../public/cursor/pen-tool.svg") 12 0, auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  cursor: var(--custom-cursor);
  @apply bg-slate-grey min-h-screen;;
}

@theme {
  --color-charcoal: #2C3E50;
  --color-beige: #E8DCC8;
  --color-paper: #FEFCF7;
  --color-teal: #7FA89F;
  --color-slate-grey: #70869D;
}
